.title {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#status-bar {
  margin-top: 5px;
  margin-bottom: 5px;
}

.chessboard {
  /* margin: auto;
  width: 50%; */
}

.taken {
  display: none;
}

.square {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  width: 64px;
  height: 64px;
}
